In [10]:
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.decomposition import PCA 

import pandas as pd
from pandas import DataFrame
import numpy as np

#Model "PCA" from library "sklearn.decomposition" is the model we need

In [11]:
data1 = pd.read_csv('Basic_feature.csv',index_col=0) 
print(data1.shape[0])

1053282

In [12]:
data1.head()

,User_id,Merchant_id,Coupon_id,c1,c2,c3,c4,c5,c6,c7,...,um3,um4,um5,um6,um7,um8,um9,um10,um11,um12
0,1439408,4663,11002.0,1.0,7730,15.0,0.001940,NaN,5,NaN,...,NaN,NaN,0.25,NaN,NaN,1,2,1.0,0.5,NaN
1,1439408,2632,8591.0,1.0,31,4.0,0.129032,NaN,2,NaN,...,1.0,0.25,0.75,3.0,2.0,4,2,1.0,0.5,NaN
2,1439408,2632,1078.0,1.0,12,NaN,NaN,NaN,5,NaN,...,1.0,0.25,0.75,3.0,2.0,4,2,1.0,0.5,NaN
3,1439408,2632,8591.0,1.0,31,4.0,0.129032,NaN,0,NaN,...,1.0,0.25,0.75,3.0,2.0,4,2,1.0,0.5,NaN
4,1439408,2632,8591.0,1.0,31,4.0,0.129032,28.0,0,0.0,...,1.0,0.25,0.75,3.0,2.0,4,2,1.0,0.5,NaN

In [13]:
# before:  use  data=data1.fillna(data.mean(axis=0))
data=data1.replace({np.nan:-1})

In [14]:
data=data.drop(columns=['Label','c5','c7'])
data.head()

,User_id,Merchant_id,Coupon_id,c1,c2,c3,c4,c6,c8,c9,...,um3,um4,um5,um6,um7,um8,um9,um10,um11,um12
0,1439408,4663,11002.0,1.0,7730,15.0,0.001940,5,1,-1.0,...,-1.0,-1.00,0.25,-1.0,-1.0,1,2,1.0,0.5,-1.0
1,1439408,2632,8591.0,1.0,31,4.0,0.129032,2,3,1.0,...,1.0,0.25,0.75,3.0,2.0,4,2,1.0,0.5,-1.0
2,1439408,2632,1078.0,1.0,12,-1.0,-1.000000,5,1,-1.0,...,1.0,0.25,0.75,3.0,2.0,4,2,1.0,0.5,-1.0
3,1439408,2632,8591.0,1.0,31,4.0,0.129032,0,3,1.0,...,1.0,0.25,0.75,3.0,2.0,4,2,1.0,0.5,-1.0
4,1439408,2632,8591.0,1.0,31,4.0,0.129032,0,3,1.0,...,1.0,0.25,0.75,3.0,2.0,4,2,1.0,0.5,-1.0

In [15]:
data.columns=['User_id','Merchant_id','Coupon_id','c1','c2','c3','c4','c6','c8','c9','c10','c11','c12','m1','m2','m3','m4','m5','m6','m7','m8','m9','u1','u2','u3','u4','u5','u6','u7','u8','u9','u10','u11','u12','u13','um0','um1','um2','um3','um4','um5','um6','um7','um8','um9','um10','um11','um12']
features=['User_id','Merchant_id','Coupon_id','c1','c2','c3','c4','c6','c8','c9','c10','c11','c12','m1','m2','m3','m4','m5','m6','m7','m8','m9','u1','u2','u3','u4','u5','u6','u7','u8','u9','u10','u11','u12','u13','um0','um1','um2','um3','um4','um5','um6','um7','um8','um9','um10','um11','um12']
X=data[features]

In [16]:
X

,User_id,Merchant_id,Coupon_id,c1,c2,c3,c4,c6,c8,c9,...,um3,um4,um5,um6,um7,um8,um9,um10,um11,um12
0,1439408,4663,11002.0,1.0,7730,15.0,0.001940,5,1,-1.0,...,-1.0,-1.00,0.25,-1.0,-1.0,1,2,1.0,0.500000,-1.000000
1,1439408,2632,8591.0,1.0,31,4.0,0.129032,2,3,1.0,...,1.0,0.25,0.75,3.0,2.0,4,2,1.0,0.500000,-1.000000
2,1439408,2632,1078.0,1.0,12,-1.0,-1.000000,5,1,-1.0,...,1.0,0.25,0.75,3.0,2.0,4,2,1.0,0.500000,-1.000000
3,1439408,2632,8591.0,1.0,31,4.0,0.129032,0,3,1.0,...,1.0,0.25,0.75,3.0,2.0,4,2,1.0,0.500000,-1.000000
4,1439408,2632,8591.0,1.0,31,4.0,0.129032,0,3,1.0,...,1.0,0.25,0.75,3.0,2.0,4,2,1.0,0.500000,-1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053277,212662,3021,3739.0,1.0,11,2.0,0.181818,2,2,2.0,...,2.0,1.00,-1.00,2.0,-1.0,2,3,2.0,0.666667,0.666667
1053278,212662,2934,5686.0,1.0,10533,1611.0,0.152948,0,2,2.0,...,2.0,1.00,-1.00,5.0,3.0,2,3,2.0,0.666667,0.333333
1053279,212662,3021,3739.0,1.0,11,2.0,0.181818,6,2,2.0,...,2.0,1.00,-1.00,2.0,-1.0,2,3,2.0,0.666667,0.666667
1053280,752472,7113,1633.0,1.0,929,12.0,0.012917,0,1,-1.0,...,-1.0,-1.00,0.50,-1.0,-1.0,1,2,-1.0,-1.000000,-1.000000
1053281,752472,3621,2705.0,1.0,7633,352.0,0.046116,0,1,-1.0,...,-1.0,-1.00,0.50,-1.0,-1.0,1,2,-1.0,-1.000000,-1.000000

In [17]:
pca = PCA(n_components=20) # we select PCA algorithm with 2 dimensions
pca = pca.fit(X) # same as 1.3
z = pca.transform(X)

In [18]:
data2=data.drop(columns=['c1','c2','c3','c4','c6','c8','c9','c10','c11','c12','m1','m2','m3','m4','m5','m6','m7','m8','m9','u1','u2','u3','u4','u5','u6','u7','u8','u9','u10','u11','u12','u13','um0','um1','um2','um3','um4','um5','um6','um7','um8','um9','um10','um11','um12'])
data2

         User_id  Merchant_id  Coupon_id
0        1439408         4663    11002.0
1        1439408         2632     8591.0
2        1439408         2632     1078.0
3        1439408         2632     8591.0
4        1439408         2632     8591.0
...          ...          ...        ...
1053277   212662         3021     3739.0
1053278   212662         2934     5686.0
1053279   212662         3021     3739.0
1053280   752472         7113     1633.0
1053281   752472         3621     2705.0

[1053282 rows x 3 columns]

In [19]:
df1 = DataFrame(z)
df1.columns=(['pca_z1','pca_z2','pca_z3','pca_z4','pca_z5','pca_z6','pca_z7','pca_z8','pca_z9','pca_z10','pca_z11','pca_z12','pca_z13','pca_z14','pca_z15','pca_z16','pca_z17','pca_z18','pca_z19','pca_z20'])
df1

,pca_z1,pca_z2,pca_z3,pca_z4,pca_z5,pca_z6,pca_z7,pca_z8,pca_z9,pca_z10,pca_z11,pca_z12,pca_z13,pca_z14,pca_z15,pca_z16,pca_z17,pca_z18,pca_z19,pca_z20
0,2.247834e+06,-3069.084089,4095.247856,-569.818058,-22.750380,-211.294321,23.660653,62.616849,5.734314,-23.621385,-49.726402,14.120654,10.884481,-8.864161,-1.810877,-1.113466,1.666585,3.306822,-1.232403,1.076954
1,2.247834e+06,-10585.395803,1432.458189,1802.467005,-80.031080,-148.516408,21.545407,-34.317316,8.027985,-23.647659,-45.506755,18.433188,13.041914,-8.167495,-1.286181,-1.893225,1.160198,4.470839,1.315438,-0.241426
2,2.247834e+06,-10363.079750,-6077.044085,1776.875305,-81.090623,-200.600239,22.445009,-22.647165,8.270210,-23.832061,-45.719274,17.872031,13.096259,-8.283896,-0.959023,-2.509165,0.826860,4.454357,-1.000653,1.921800
3,2.247834e+06,-10585.395796,1432.458147,1802.467045,-80.031077,-148.517077,21.545373,-34.324338,8.032900,-23.655746,-45.504534,18.435469,13.066957,-8.156794,-1.288573,-1.873596,1.105209,4.439229,2.551521,-1.810117
4,2.247834e+06,-10585.395796,1432.458147,1802.467045,-80.031077,-148.517077,21.545373,-34.324338,8.032900,-23.655746,-45.504534,18.435469,13.066957,-8.156794,-1.288573,-1.873596,1.105209,4.439229,2.551521,-1.810117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053277,3.474580e+06,-10469.368388,-3415.948475,1394.944712,-63.880611,-178.018621,16.657984,-17.172842,3.745114,-15.078236,-13.692041,-0.230264,-2.500366,13.441933,-6.180631,1.045640,3.388704,-1.462295,0.042592,-1.289062
1053278,3.474580e+06,-1.715799,-1139.420034,1017.191230,-86.317146,1305.805322,13.428397,7.622861,3.813738,-13.423064,-11.373834,-0.416399,0.569819,13.962981,-5.016166,-0.089394,2.878991,-2.601193,1.446414,-3.381236
1053279,3.474580e+06,-10469.368400,-3415.948392,1394.944633,-63.880615,-178.017283,16.658052,-17.158799,3.735284,-15.062062,-13.696483,-0.234826,-2.550452,13.420531,-6.175846,1.006382,3.498682,-1.399075,-2.429574,1.848319
1053280,2.934769e+06,-9671.429840,-5483.347960,-2739.983874,14.932716,-164.322925,7.692208,-2.700073,-4.182822,6.353193,0.944676,-0.644576,-1.254931,-0.329078,-0.521833,-0.084593,1.100671,0.164505,1.510102,-2.882589
1053281,2.934770e+06,-2848.669811,-4204.238942,448.032828,-12.701541,72.427338,-39.480467,-38.656824,2.669812,8.681331,1.235833,-0.467892,-1.217522,-0.312366,-0.552727,0.179399,0.634790,0.158632,1.537643,-2.728215

In [20]:
X = pd.concat([data2,df1], axis=1)
X

,User_id,Merchant_id,Coupon_id,pca_z1,pca_z2,pca_z3,pca_z4,pca_z5,pca_z6,pca_z7,...,pca_z11,pca_z12,pca_z13,pca_z14,pca_z15,pca_z16,pca_z17,pca_z18,pca_z19,pca_z20
0,1439408,4663,11002.0,2.247834e+06,-3069.084089,4095.247856,-569.818058,-22.750380,-211.294321,23.660653,...,-49.726402,14.120654,10.884481,-8.864161,-1.810877,-1.113466,1.666585,3.306822,-1.232403,1.076954
1,1439408,2632,8591.0,2.247834e+06,-10585.395803,1432.458189,1802.467005,-80.031080,-148.516408,21.545407,...,-45.506755,18.433188,13.041914,-8.167495,-1.286181,-1.893225,1.160198,4.470839,1.315438,-0.241426
2,1439408,2632,1078.0,2.247834e+06,-10363.079750,-6077.044085,1776.875305,-81.090623,-200.600239,22.445009,...,-45.719274,17.872031,13.096259,-8.283896,-0.959023,-2.509165,0.826860,4.454357,-1.000653,1.921800
3,1439408,2632,8591.0,2.247834e+06,-10585.395796,1432.458147,1802.467045,-80.031077,-148.517077,21.545373,...,-45.504534,18.435469,13.066957,-8.156794,-1.288573,-1.873596,1.105209,4.439229,2.551521,-1.810117
4,1439408,2632,8591.0,2.247834e+06,-10585.395796,1432.458147,1802.467045,-80.031077,-148.517077,21.545373,...,-45.504534,18.435469,13.066957,-8.156794,-1.288573,-1.873596,1.105209,4.439229,2.551521,-1.810117
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053277,212662,3021,3739.0,3.474580e+06,-10469.368388,-3415.948475,1394.944712,-63.880611,-178.018621,16.657984,...,-13.692041,-0.230264,-2.500366,13.441933,-6.180631,1.045640,3.388704,-1.462295,0.042592,-1.289062
1053278,212662,2934,5686.0,3.474580e+06,-1.715799,-1139.420034,1017.191230,-86.317146,1305.805322,13.428397,...,-11.373834,-0.416399,0.569819,13.962981,-5.016166,-0.089394,2.878991,-2.601193,1.446414,-3.381236
1053279,212662,3021,3739.0,3.474580e+06,-10469.368400,-3415.948392,1394.944633,-63.880615,-178.017283,16.658052,...,-13.696483,-0.234826,-2.550452,13.420531,-6.175846,1.006382,3.498682,-1.399075,-2.429574,1.848319
1053280,752472,7113,1633.0,2.934769e+06,-9671.429840,-5483.347960,-2739.983874,14.932716,-164.322925,7.692208,...,0.944676,-0.644576,-1.254931,-0.329078,-0.521833,-0.084593,1.100671,0.164505,1.510102,-2.882589
1053281,752472,3621,2705.0,2.934770e+06,-2848.669811,-4204.238942,448.032828,-12.701541,72.427338,-39.480467,...,1.235833,-0.467892,-1.217522,-0.312366,-0.552727,0.179399,0.634790,0.158632,1.537643,-2.728215

In [21]:
Y = data1['Label'] #this is our prediction target

In [23]:
from sklearn.model_selection import train_test_split # this function provides a single "Hold-Out" Validation.
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score #similar to MAE, we use accuracy_score evaluation metric.
import pandas as pd
import numpy as np

In [24]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.4, random_state=1)

In [25]:
from sklearn.ensemble import RandomForestClassifier
np.random.seed(1) #because the model has random sampling, a random seed can ensure repeated results.
clf = RandomForestClassifier(max_depth=2,n_estimators=500)
clf = clf.fit(X_train, Y_train)
Y_predTrain = clf.predict(X_train)
Y_predTest = clf.predict(X_test)

print('Training accuracy is %f' % accuracy_score(Y_train, Y_predTrain))
      
print('Validation accuracy is %f' %accuracy_score(Y_test, Y_predTest))

Training accuracy is 0.928699
Validation accuracy is 0.928030