In [1]:
from sklearn.model_selection import train_test_split # this function provides a single "Hold-Out" Validation.
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score #similar to MAE, we use accuracy_score evaluation metric.
import pandas as pd
from pandas import DataFrame
import numpy as np

In [2]:
data = pd.read_csv('Basic_feature.csv')
data.head(5)

,Unnamed: 0,User_id,Merchant_id,Coupon_id,c1,c2,c3,c4,c5,c6,...,um3,um4,um5,um6,um7,um8,um9,um10,um11,um12
0,0,1439408,4663,11002.0,1.0,7730,15.0,0.001940,NaN,5,...,NaN,NaN,0.25,NaN,NaN,1,2,1.0,0.5,NaN
1,1,1439408,2632,8591.0,1.0,31,4.0,0.129032,NaN,2,...,1.0,0.25,0.75,3.0,2.0,4,2,1.0,0.5,NaN
2,2,1439408,2632,1078.0,1.0,12,NaN,NaN,NaN,5,...,1.0,0.25,0.75,3.0,2.0,4,2,1.0,0.5,NaN
3,3,1439408,2632,8591.0,1.0,31,4.0,0.129032,NaN,0,...,1.0,0.25,0.75,3.0,2.0,4,2,1.0,0.5,NaN
4,4,1439408,2632,8591.0,1.0,31,4.0,0.129032,28.0,0,...,1.0,0.25,0.75,3.0,2.0,4,2,1.0,0.5,NaN

In [3]:
data.drop(columns='Unnamed: 0', inplace=True)

#### PCA

In [4]:
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.decomposition import PCA

In [6]:
data = data.fillna(value=-1)
data

,User_id,Merchant_id,Coupon_id,c1,c2,c3,c4,c5,c6,c7,...,um3,um4,um5,um6,um7,um8,um9,um10,um11,um12
0,1439408,4663,11002.0,1.0,7730,15.000000,0.001940,7.817065,5,3.065612,...,3.181865,0.657239,0.250000,4.872938,4.168959,1,2,1.000000,0.500000,0.955974
1,1439408,2632,8591.0,1.0,31,4.000000,0.129032,7.817065,2,3.065612,...,1.000000,0.250000,0.750000,3.000000,2.000000,4,2,1.000000,0.500000,0.955974
2,1439408,2632,1078.0,1.0,12,300.813515,0.073628,7.817065,5,3.065612,...,1.000000,0.250000,0.750000,3.000000,2.000000,4,2,1.000000,0.500000,0.955974
3,1439408,2632,8591.0,1.0,31,4.000000,0.129032,7.817065,0,3.065612,...,1.000000,0.250000,0.750000,3.000000,2.000000,4,2,1.000000,0.500000,0.955974
4,1439408,2632,8591.0,1.0,31,4.000000,0.129032,28.000000,0,0.000000,...,1.000000,0.250000,0.750000,3.000000,2.000000,4,2,1.000000,0.500000,0.955974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053277,212662,3021,3739.0,1.0,11,2.000000,0.181818,4.000000,2,6.000000,...,2.000000,1.000000,0.620032,2.000000,4.168959,2,3,2.000000,0.666667,0.666667
1053278,212662,2934,5686.0,1.0,10533,1611.000000,0.152948,1.000000,0,1.000000,...,2.000000,1.000000,0.620032,5.000000,3.000000,2,3,2.000000,0.666667,0.333333
1053279,212662,3021,3739.0,1.0,11,2.000000,0.181818,25.000000,6,3.000000,...,2.000000,1.000000,0.620032,2.000000,4.168959,2,3,2.000000,0.666667,0.666667
1053280,752472,7113,1633.0,1.0,929,12.000000,0.012917,7.817065,0,3.065612,...,3.181865,0.657239,0.500000,4.872938,4.168959,1,2,1.178015,0.509913,0.955974
1053281,752472,3621,2705.0,1.0,7633,352.000000,0.046116,7.817065,0,3.065612,...,3.181865,0.657239,0.500000,4.872938,4.168959,1,2,1.178015,0.509913,0.955974

In [7]:
data.drop_duplicates(inplace=True)
data

,User_id,Merchant_id,Coupon_id,c1,c2,c3,c4,c5,c6,c7,...,um3,um4,um5,um6,um7,um8,um9,um10,um11,um12
0,1439408,4663,11002.0,1.0,7730,15.000000,0.001940,7.817065,5,3.065612,...,3.181865,0.657239,0.250000,4.872938,4.168959,1,2,1.000000,0.500000,0.955974
1,1439408,2632,8591.0,1.0,31,4.000000,0.129032,7.817065,2,3.065612,...,1.000000,0.250000,0.750000,3.000000,2.000000,4,2,1.000000,0.500000,0.955974
2,1439408,2632,1078.0,1.0,12,300.813515,0.073628,7.817065,5,3.065612,...,1.000000,0.250000,0.750000,3.000000,2.000000,4,2,1.000000,0.500000,0.955974
3,1439408,2632,8591.0,1.0,31,4.000000,0.129032,7.817065,0,3.065612,...,1.000000,0.250000,0.750000,3.000000,2.000000,4,2,1.000000,0.500000,0.955974
4,1439408,2632,8591.0,1.0,31,4.000000,0.129032,28.000000,0,0.000000,...,1.000000,0.250000,0.750000,3.000000,2.000000,4,2,1.000000,0.500000,0.955974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053277,212662,3021,3739.0,1.0,11,2.000000,0.181818,4.000000,2,6.000000,...,2.000000,1.000000,0.620032,2.000000,4.168959,2,3,2.000000,0.666667,0.666667
1053278,212662,2934,5686.0,1.0,10533,1611.000000,0.152948,1.000000,0,1.000000,...,2.000000,1.000000,0.620032,5.000000,3.000000,2,3,2.000000,0.666667,0.333333
1053279,212662,3021,3739.0,1.0,11,2.000000,0.181818,25.000000,6,3.000000,...,2.000000,1.000000,0.620032,2.000000,4.168959,2,3,2.000000,0.666667,0.666667
1053280,752472,7113,1633.0,1.0,929,12.000000,0.012917,7.817065,0,3.065612,...,3.181865,0.657239,0.500000,4.872938,4.168959,1,2,1.178015,0.509913,0.955974
1053281,752472,3621,2705.0,1.0,7633,352.000000,0.046116,7.817065,0,3.065612,...,3.181865,0.657239,0.500000,4.872938,4.168959,1,2,1.178015,0.509913,0.955974

In [8]:
data["Label"]

0          0
1          0
2          0
3          0
4         -1
          ..
1053277    1
1053278    1
1053279   -1
1053280    0
1053281    0
Name: Label, Length: 1008456, dtype: int64

In [9]:
data.columns=['User_id', 'Merchant_id', 'Coupon_id', 'c1', 'c2', 'c3', 'c4', 'c5',
       'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'Label', 'm1', 'm2', 'm3',
       'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'u1', 'u2', 'u3', 'u4', 'u5', 'u6',
       'u7', 'u8', 'u9', 'u10', 'u11', 'u12', 'u13', 'um0', 'um1', 'um2',
       'um3', 'um4', 'um5', 'um6', 'um7', 'um8', 'um9', 'um10', 'um11',
       'um12']

features=['c1', 'c2', 'c3', 'c4', 'c5',
       'c6', 'c7', 'c8', 'c9', 'c10', 'c11', 'c12', 'm1', 'm2', 'm3',
       'm4', 'm5', 'm6', 'm7', 'm8', 'm9', 'u1', 'u2', 'u3', 'u4', 'u5', 'u6',
       'u7', 'u8', 'u9', 'u10', 'u11', 'u12', 'u13', 'um0', 'um1', 'um2',
       'um3', 'um4', 'um5', 'um6', 'um7', 'um8', 'um9', 'um10', 'um11',
       'um12']
X=data[features]

In [10]:
X

,c1,c2,c3,c4,c5,c6,c7,c8,c9,c10,...,um3,um4,um5,um6,um7,um8,um9,um10,um11,um12
0,1.0,7730,15.000000,0.001940,7.817065,5,3.065612,1,2.548307,0.819779,...,3.181865,0.657239,0.250000,4.872938,4.168959,1,2,1.000000,0.500000,0.955974
1,1.0,31,4.000000,0.129032,7.817065,2,3.065612,3,1.000000,0.333333,...,1.000000,0.250000,0.750000,3.000000,2.000000,4,2,1.000000,0.500000,0.955974
2,1.0,12,300.813515,0.073628,7.817065,5,3.065612,1,2.548307,0.819779,...,1.000000,0.250000,0.750000,3.000000,2.000000,4,2,1.000000,0.500000,0.955974
3,1.0,31,4.000000,0.129032,7.817065,0,3.065612,3,1.000000,0.333333,...,1.000000,0.250000,0.750000,3.000000,2.000000,4,2,1.000000,0.500000,0.955974
4,1.0,31,4.000000,0.129032,28.000000,0,0.000000,3,1.000000,0.333333,...,1.000000,0.250000,0.750000,3.000000,2.000000,4,2,1.000000,0.500000,0.955974
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1053277,1.0,11,2.000000,0.181818,4.000000,2,6.000000,2,2.000000,1.000000,...,2.000000,1.000000,0.620032,2.000000,4.168959,2,3,2.000000,0.666667,0.666667
1053278,1.0,10533,1611.000000,0.152948,1.000000,0,1.000000,2,2.000000,1.000000,...,2.000000,1.000000,0.620032,5.000000,3.000000,2,3,2.000000,0.666667,0.333333
1053279,1.0,11,2.000000,0.181818,25.000000,6,3.000000,2,2.000000,1.000000,...,2.000000,1.000000,0.620032,2.000000,4.168959,2,3,2.000000,0.666667,0.666667
1053280,1.0,929,12.000000,0.012917,7.817065,0,3.065612,1,2.548307,0.819779,...,3.181865,0.657239,0.500000,4.872938,4.168959,1,2,1.178015,0.509913,0.955974
1053281,1.0,7633,352.000000,0.046116,7.817065,0,3.065612,1,2.548307,0.819779,...,3.181865,0.657239,0.500000,4.872938,4.168959,1,2,1.178015,0.509913,0.955974

In [11]:
pca = PCA(n_components=20) #20 dimensions
pca = pca.fit(X) 
z = pca.transform(X)

In [12]:
F = pd.DataFrame(columns=['z1', 'z2', 'z3', 'z4','z5', 'z6', 'z7', 'z8','z9', 'z10', 'z11', 'z12','z13', 'z14', 'z15', 'z16','z17', 'z18', 'z19', 'z20'])
F['z1']=z[:,0] 
F['z2']=z[:,1]
F['z3']=z[:,2]
F['z4']=z[:,3]
F['z5']=z[:,4]
F['z6']=z[:,5]
F['z7']=z[:,6]
F['z8']=z[:,7]
F['z9']=z[:,8]
F['z10']=z[:,9]
F['z11']=z[:,10]
F['z12']=z[:,11]
F['z13']=z[:,12]
F['z14']=z[:,13]
F['z15']=z[:,14]
F['z16']=z[:,15]
F['z17']=z[:,16]
F['z18']=z[:,17]
F['z19']=z[:,18]
F['z20']=z[:,19]
F.head()

,z1,z2,z3,z4,z5,z6,z7,z8,z9,z10,z11,z12,z13,z14,z15,z16,z17,z18,z19,z20
0,-3066.985447,-38.904118,-233.261926,27.363594,65.550408,-2.857525,-16.417919,37.071132,1.516639,12.510635,7.921548,-1.494251,-1.526941,0.731376,0.335946,0.041259,-1.730716,0.098309,0.060588,0.235362
1,-10765.839024,-42.445414,-144.464655,9.396781,-40.657048,0.340799,-16.595009,37.986184,3.084353,9.590630,7.716196,-1.104104,-2.575628,3.513436,-4.076012,-1.464409,0.442646,0.834618,0.004990,0.573162
2,-10781.169014,-44.114713,152.275791,8.978649,-27.750524,-0.004313,-16.870332,37.891242,2.726550,9.357404,7.841404,-1.089744,-2.570639,3.376235,-3.574184,-0.510497,-2.200389,1.212457,0.171117,-0.245463
3,-10765.839015,-42.445406,-144.465180,9.396718,-40.664380,0.342946,-16.586479,37.987386,3.101330,9.615546,7.697932,-1.109201,-2.565357,3.530444,-4.209175,-2.113579,2.295704,0.484245,-0.041268,0.573139
4,-10765.838943,-42.445381,-144.464490,9.396404,-40.657029,0.347309,-16.870612,38.306853,2.657151,9.555105,7.533555,-0.377499,-2.036124,2.399526,-8.628689,16.471816,8.581866,0.766739,-0.036205,0.669875

In [14]:
data['Label']

0          0
1          0
2          0
3          0
4         -1
          ..
1053277    1
1053278    1
1053279   -1
1053280    0
1053281    0
Name: Label, Length: 1008456, dtype: int64

In [17]:
Y = data['Label']
X = F
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.4, random_state=1)

In [19]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
np.random.seed(1)
clf1 = BaggingClassifier(DecisionTreeClassifier(max_depth=2),n_estimators=50) # number estimators is the key parameter
clf1 = clf1.fit(X_train, Y_train)
Y_predTrain = clf1.predict(X_train)
Y_predTest = clf1.predict(X_test)

print('Training accuracy is %f' % accuracy_score(Y_train, Y_predTrain))
      
print('Validation accuracy is %f' %accuracy_score(Y_test, Y_predTest))

Training accuracy is 0.968982
Validation accuracy is 0.969285

In [31]:
from collections import Counter
counter = Counter(Y)
print(counter)

Counter({0: 936149, 1: 61416, -1: 10891})

In [34]:
from imblearn.over_sampling import SMOTE

In [36]:
smo = SMOTE(random_state=42)
X_smo, y_smo = smo.fit_resample(X, Y)

In [37]:
print(Counter(y_smo))

Counter({0: 936149, -1: 936149, 1: 936149})

In [38]:
Y = y_smo
X = X_smo
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.4, random_state=1)

In [39]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import BaggingClassifier
np.random.seed(1)
clf1 = BaggingClassifier(DecisionTreeClassifier(max_depth=2),n_estimators=50) # number estimators is the key parameter
clf1 = clf1.fit(X_train, Y_train)
Y_predTrain = clf1.predict(X_train)
Y_predTest = clf1.predict(X_test)

print('Training accuracy is %f' % accuracy_score(Y_train, Y_predTrain))
      
print('Validation accuracy is %f' %accuracy_score(Y_test, Y_predTest))

Training accuracy is 0.868930
Validation accuracy is 0.869213